<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <link rel="stylesheet" href="styles/global.css"/>
		<script src="../vendor/vue.min.js"></script>
		<style>
		.scenes, .quick-actions {
			display: flex;
			flex-wrap: wrap;
		}

		.scene,  .quick-actions > button {
			margin: 3px;
			flex: 1 0 40%;
		}

		 .quick-actions > button {
			 height: 50px;
		 }
		</style>
	</head>
	<body>
		<div id="app">
			<div v-if="isStreaming" class="red banner">
				NOW LIVE
			</div>
			<div class="quick-actions">
	        	<button v-on:click="cut">Cut</button>
	        	<button v-on:click="fade">Fade</button>
				<button class="error" v-if="isStreaming" v-on:click="startStream">Stop Stream</button>
				<button class="success" v-else v-on:click="stopStream">Start Stream</button>
			</div>
			<table>
				<thead>
					<tr>
						<th>Preview</th>
						<th>Program</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ previewScene }}</td>
						<td>{{ programScene }}</td>
					</tr>
				</tbody>
			</table>
	        <p>Set Scene</p>
	        <div class="scenes">
				<button class="scene" v-for="scene in scenes" v-on:click="setScene(scene)">
					{{ scene.name }}
				</button>
	        </div>
		</div>
        <script>
		(function() {
			var app = new Vue({
				el: "#app",
				data: {
					isStreaming: false,
					previewScene: null,
					programScene: null,
					scenes: []
				},
				created: function() {
					this.bindReplicant("obs:scenes", "scenes");
					this.bindReplicant("obs:isStreaming", "isStreaming");
					this.bindReplicant("obs:currentScene", "programScene");
					this.bindReplicant("obs:currentPreview", "previewScene");
				},
				methods: {
					bindReplicant: function(name, property) {
						nodecg.Replicant(name).on("change", (value) => {
							this[property] = value;
						});
					},
					cut: function() {
						nodecg.sendMessage("obs:cut");
					},
					fade: function() {
						nodecg.sendMessage("obs:transition", "Fade");
					},
					setScene: function(scene) {
						nodecg.sendMessage("obs:set-preview", scene.name);
					},
					startStream: function() {
						nodecg.sendMessage("obs:start-stream");
					},
					stopStream: function() {
						nodecg.sendMessage("obs:stop-stream");
					}
				}
			});
		})();
        </script>
	</body>
</html>
