@import "fonts/bebas.css";

body {
    font-family: sans-serif;
    background: transparent;
    overflow: hidden;
}

.monospace {
    font-family: monospace;
}

.jingle-item {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 40%;
    left: 50%;
}

.jingle-item img {
    width: 128px;
    height: 128px;
}

.jingle-anim-enter-active, .jingle-anim-leave-active {
    transition: all 2s;
}

.jingle-anim-enter {
    left: -260px;
    bottom: 300px;
}

.jingle-anim-leave-active {
    left: 120%;
    bottom: 300px;
}

.notifier {
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 650px;
    height: 128px;
    background: #000;
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
}

.notifier video {
    width: 128px;
    height: 128px;
}

.notifier .content {
    vertical-align: top;
    padding: 5px 15px;
    color: #fff;
    display: inline-block;
    font-size: 32px;
    font-family: "Bebas Neue";
    max-width: 488px;
}

.notifier .content .title {
    font-size: 48px;
}

.notifier.notifier-enter {
    right: -650px;
}

.notifier-enter-active, .notifier-leave-active {
    transition: all 2s;
}

.notifier-leave-active {
    right: -650px;
}

.donations {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 0;
    width: 400px;
    padding: 5px 0 3px;
    background: linear-gradient(45deg, #ea00a0 0%,#009ddb 100%);
    text-align: center;
    border-bottom-right-radius: 40px;
    font-family: "Bebas Neue";
    color: #fff;
    vertical-align: middle;
}

.donations span.stacked {
    display: inline-block;
    font-size: 26px;
    margin-right: 20px;
    vertical-align: baseline;
    line-height: 22px;
}

.donations h1 {
    display: inline-block;
    margin: 0;
    font-size: 60px;
}
